
.main
  {
/* Title */
color: #1b4760;
color: #c3eef9;
color: #025674;
/* text */
color: #f8f8f2;
/* list */
color: #c5ffeb;
/* italic */
color: #c3f9c3;
/* code */
color: #f4eecf;
/* Editor list */

color: #fdfed7;
color: #025674;
color: #657B83;
color: #FFEEDD;

color: #8ee5fa;

color: #657B83;

color: #657B83;

color: #657B83;


}